.chard-card {
    width: 400px;
    box-sizing: content-box;
}

.img-sizing {
    width: 400px;
    height: 400px;
}

.img-single-sizing {
    width: 400px;
    height: 550px;
}

.scroll-lat {
    overflow-x: scroll;
}