.chard-card {
    width: 300px;
    box-sizing: content-box;
}

.img-sizing {
    width: 300px;
    height: 300px;
}

.img-single-sizing {
    width: 500px;
    height: 500px;
}

.scroll-lat {
    overflow-x: scroll;
}